<a href="https://colab.research.google.com/github/ucfilho/marquesgabi_paper_fev_2021/blob/main/ANN_%20better_resolution/ANN_neural_network_variables_maio_13_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import cv2
import zipfile
#import random
from random import randint
from PIL import Image
import re
from sklearn.model_selection import train_test_split
#import scikit-image
import skimage
import pandas as pd
#import statsmodels.api as sm
#import statsmodels.formula.api as smf
from sklearn.neural_network import MLPClassifier
import sklearn
from sklearn.externals import joblib

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [2]:
!git clone https://github.com/ucfilho/MarquesGabi_Routines
%cd MarquesGabi_Routines

fatal: destination path 'MarquesGabi_Routines' already exists and is not an empty directory.
/content/MarquesGabi_Routines

In [3]:
# leitura dos dados
df1=pd.read_excel("ImgGrao_a28.xlsx")
df2=pd.read_excel("ImgGrao_b28.xlsx")
df3=pd.read_excel("ImgIndef28.xlsx")
df4=pd.read_excel("ImgVarios28.xlsx")
df5=pd.read_excel("ImgBuraco28.xlsx")

In [4]:
df = pd.concat([df1, df2, df3, df4, df5], ignore_index=True)
df.head()
df_all = df.copy()

In [5]:
# rede 1 G e B --> r1
# rede 2 G e I --> r2
# rede 3 G e V --> r3

df_r1 = pd.concat([df1, df2, df5], ignore_index=True) # df5 buraco
df_r2 = pd.concat([df1, df2, df3], ignore_index=True) # df3 indefinido
df_r3 = pd.concat([df1, df2, df4], ignore_index=True) # df4 indefinido

In [6]:
w = df['Type']
y = []
for wi in w:
  if(wi == 'G'):
    y.append(1)
  elif(wi == 'B'):
    y.append(2)
  elif(wi == 'I'):
    y.append(3)
  elif(wi == 'V'):
    y.append(4)

In [7]:
 from collections import Counter
 Counter(y)

Counter({1: 359, 2: 180, 3: 180, 4: 162})

In [8]:
Counter(y)

Counter({1: 359, 2: 180, 3: 180, 4: 162})

In [9]:
Counter(w)

Counter({'B': 180, 'G': 359, 'I': 180, 'V': 162})

In [10]:
w = df_r1['Type']
y_r1 = []
for wi in w:
  if(wi == 'G'):
    y_r1.append(1)
  elif(wi == 'B'):
    y_r1.append(2)
  elif(wi == 'I'):
    y_r1.append(3)
  elif(wi == 'V'):
    y_r1.append(4)

In [11]:
Counter(w)

Counter({'B': 180, 'G': 359})

In [12]:

w = df_r2['Type']
y_r2 = []
for wi in w:
  if(wi == 'G'):
    y_r2.append(1)
  elif(wi == 'B'):
    y_r2.append(2)
  elif(wi == 'I'):
    y_r2.append(3)
  elif(wi == 'V'):
    y_r2.append(4)

In [13]:

w = df_r3['Type']
y_r3 = []
for wi in w:
  if(wi == 'G'):
    y_r3.append(1)
  elif(wi == 'B'):
    y_r3.append(2)
  elif(wi == 'I'):
    y_r3.append(3)
  elif(wi == 'V'):
    y_r3.append(4)

In [14]:
df_r1.drop(['Unnamed: 0','Type'], axis='columns', inplace=True)

df_r2.drop(['Unnamed: 0','Type'], axis='columns', inplace=True)
df_r3.drop(['Unnamed: 0','Type'], axis='columns', inplace=True)

In [15]:

df.drop(['Unnamed: 0','Type'], axis='columns', inplace=True)

In [16]:

df.head()

        0         1         2    ...       781       782       783
0  0.000000  0.000000  0.003151  ...  0.686423  0.686308  0.687691
1  0.593498  0.595789  0.604417  ...  0.493535  0.517529  0.543134
2  0.587986  0.427366  0.589358  ...  0.689788  0.695541  0.695541
3  0.727229  0.687880  0.670692  ...  0.442874  0.449708  0.449618
4  0.346747  0.328336  0.316983  ...  0.581976  0.592841  0.591267

[5 rows x 784 columns]

In [17]:

#X =np.array(df.copy())/255.0 
X =np.array(df.copy())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=42)

model = MLPClassifier(hidden_layer_sizes=(200,10), activation='tanh', 
                      solver='adam',random_state=1, max_iter=300).fit(X_train,y_train)
  
prediction = model.predict(X_test)
  
y =np.copy(y_test)
data = {'y_true': y_test,'y_predict': prediction}  # este dado esta no formato de dicionario

df = pd.DataFrame(data, columns=['y_true','y_predict'])


confusion_matrix = pd.crosstab(df['y_true'], df['y_predict'], rownames=['Actual'], colnames=['Predict'])
print(confusion_matrix)

y_true = df['y_true']
y_pred = df['y_predict']

  
METRICS=sklearn.metrics.classification_report(y_true, y_pred)

Predict    1   2   3   4
Actual
1        104   0   1   1
2          0  51   0   0
3         21  11  19  12
4         21   2   6  16

In [18]:
#X =np.array(df.copy())/255.0 
df = df_r1.copy()
y = y_r1.copy()
X =np.array(df.copy())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=42)

model = MLPClassifier(hidden_layer_sizes=(200,10), activation='tanh', 
                      solver='adam',random_state=1, max_iter=300).fit(X_train,y_train)
  
prediction = model.predict(X_test)
  
y =np.copy(y_test)
data = {'y_true': y_test,'y_predict': prediction}  # este dado esta no formato de dicionario

df = pd.DataFrame(data, columns=['y_true','y_predict'])


confusion_matrix = pd.crosstab(df['y_true'], df['y_predict'], rownames=['Actual'], colnames=['Predict'])
print('rede 1 G e B --> r1') 
print(confusion_matrix)

y_true = df['y_true']
y_pred = df['y_predict']

  
METRICS=sklearn.metrics.classification_report(y_true, y_pred)

rede 1 G e B --> r1
Predict    1   2
Actual
1        105   1
2          1  55

In [19]:

#X =np.array(df.copy())/255.0 
df = df_r2.copy()
y = y_r2.copy()
X =np.array(df.copy())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=42)

model = MLPClassifier(hidden_layer_sizes=(200,10), activation='tanh', 
                      solver='adam',random_state=1, max_iter=300).fit(X_train,y_train)
  
prediction = model.predict(X_test)
  
y =np.copy(y_test)
data = {'y_true': y_test,'y_predict': prediction}  # este dado esta no formato de dicionario

df = pd.DataFrame(data, columns=['y_true','y_predict'])


confusion_matrix = pd.crosstab(df['y_true'], df['y_predict'], rownames=['Actual'], colnames=['Predict'])
print(' rede 2 G e I --> r2')
print(confusion_matrix)

y_true = df['y_true']
y_pred = df['y_predict']

  
METRICS=sklearn.metrics.classification_report(y_true, y_pred)

 rede 2 G e I --> r2
Predict   1   3
Actual
1        94  12
3         3  53

In [20]:

#X =np.array(df.copy())/255.0 
df = df_r3.copy()
y = y_r3.copy()
X =np.array(df.copy())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=42)

model = MLPClassifier(hidden_layer_sizes=(200,10), activation='tanh', 
                      solver='adam',random_state=1, max_iter=300).fit(X_train,y_train)
  
prediction = model.predict(X_test)
  
y =np.copy(y_test)
data = {'y_true': y_test,'y_predict': prediction}  # este dado esta no formato de dicionario

df = pd.DataFrame(data, columns=['y_true','y_predict'])


confusion_matrix = pd.crosstab(df['y_true'], df['y_predict'], rownames=['Actual'], colnames=['Predict'])
print('rede 3 G e V --> r3')
print(confusion_matrix)

y_true = df['y_true']
y_pred = df['y_predict']

  
METRICS=sklearn.metrics.classification_report(y_true, y_pred)

rede 3 G e V --> r3
Predict   1   4
Actual
1        98  12
4        10  37

In [21]:
# joblib.dump(model,'model_ANN_new.pkl')

In [22]:
'''
Arq = 'model_ANN_new.pkl'
from google.colab import files
files.download(Arq)
'''

"\nArq = 'model_ANN_new.pkl'\nfrom google.colab import files\nfiles.download(Arq)\n"

In [23]:
w = df_all['Type']
y = []
for wi in w:
  if(wi == 'G'):
    y.append(1)
  elif(wi == 'B'):
    y.append(2)
  elif(wi == 'I'):
    y.append(2)
  elif(wi == 'V'):
    y.append(2)

In [24]:
df_all.drop(['Unnamed: 0','Type'], axis='columns', inplace=True)

In [25]:
Hidden_one = [10,20,50,80,100,150,200,250]
Hidden_two = [10,20,50,80,100,150,200,250]
y_ann = y.copy()
X =np.array(df_all.copy())
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=42)
#X =np.array(df.copy())/255.0 
for n1 in Hidden_one:
  for n2 in Hidden_two:
    model = MLPClassifier(hidden_layer_sizes=(n1,n2), activation='tanh',
                          solver='adam',random_state=1, max_iter=300).fit(X_train,y_train)
    prediction = model.predict(X_test)
  
    y =np.copy(y_test)
    data = {'y_true': y_test,'y_predict': prediction}  # este dado esta no formato de dicionario

    df = pd.DataFrame(data, columns=['y_true','y_predict'])

    confusion_matrix = pd.crosstab(df['y_true'], df['y_predict'], rownames=['Actual'], colnames=['Predict'])
    # print(confusion_matrix)

    y_true = df['y_true']
    y_pred = df['y_predict']
    print('n1, n2 =',n1,n2,'true',Counter(y_true),'calc',Counter(y_pred))

n1, n2 = 10 10 true Counter({2: 159, 1: 106}) calc Counter({2: 162, 1: 103})
n1, n2 = 10 20 true Counter({2: 159, 1: 106}) calc Counter({2: 162, 1: 103})
n1, n2 = 10 50 true Counter({2: 159, 1: 106}) calc Counter({2: 157, 1: 108})
n1, n2 = 10 80 true Counter({2: 159, 1: 106}) calc Counter({2: 172, 1: 93})
n1, n2 = 10 100 true Counter({2: 159, 1: 106}) calc Counter({2: 162, 1: 103})
n1, n2 = 10 150 true Counter({2: 159, 1: 106}) calc Counter({2: 161, 1: 104})
n1, n2 = 10 200 true Counter({2: 159, 1: 106}) calc Counter({2: 190, 1: 75})
n1, n2 = 10 250 true Counter({2: 159, 1: 106}) calc Counter({2: 193, 1: 72})
n1, n2 = 20 10 true Counter({2: 159, 1: 106}) calc Counter({2: 138, 1: 127})
n1, n2 = 20 20 true Counter({2: 159, 1: 106}) calc Counter({2: 158, 1: 107})
n1, n2 = 20 50 true Counter({2: 159, 1: 106}) calc Counter({2: 161, 1: 104})
n1, n2 = 20 80 true Counter({2: 159, 1: 106}) calc Counter({2: 181, 1: 84})
n1, n2 = 20 100 true Counter({2: 159, 1: 106}) calc Counter({2: 163, 1: 102})
n1, n2 = 20 150 true Counter({2: 159, 1: 106}) calc Counter({1: 140, 2: 125})
n1, n2 = 20 200 true Counter({2: 159, 1: 106}) calc Counter({2: 167, 1: 98})
n1, n2 = 20 250 true Counter({2: 159, 1: 106}) calc Counter({2: 147, 1: 118})
n1, n2 = 50 10 true Counter({2: 159, 1: 106}) calc Counter({2: 158, 1: 107})
n1, n2 = 50 20 true Counter({2: 159, 1: 106}) calc Counter({2: 176, 1: 89})
n1, n2 = 50 50 true Counter({2: 159, 1: 106}) calc Counter({2: 150, 1: 115})
n1, n2 = 50 80 true Counter({2: 159, 1: 106}) calc Counter({1: 140, 2: 125})
n1, n2 = 50 100 true Counter({2: 159, 1: 106}) calc Counter({2: 166, 1: 99})
n1, n2 = 50 150 true Counter({2: 159, 1: 106}) calc Counter({2: 165, 1: 100})
n1, n2 = 50 200 true Counter({2: 159, 1: 106}) calc Counter({2: 181, 1: 84})
n1, n2 = 50 250 true Counter({2: 159, 1: 106}) calc Counter({2: 178, 1: 87})
n1, n2 = 80 10 true Counter({2: 159, 1: 106}) calc Counter({2: 163, 1: 102})
n1, n2 = 80 20 true Counter({2: 159, 1: 106}) calc Counter({2: 172, 1: 93})
n1, n2 = 80 50 true Counter({2: 159, 1: 106}) calc Counter({1: 147, 2: 118})
n1, n2 = 80 80 true Counter({2: 159, 1: 106}) calc Counter({2: 167, 1: 98})
n1, n2 = 80 100 true Counter({2: 159, 1: 106}) calc Counter({2: 135, 1: 130})
n1, n2 = 80 150 true Counter({2: 159, 1: 106}) calc Counter({2: 185, 1: 80})
n1, n2 = 80 200 true Counter({2: 159, 1: 106}) calc Counter({2: 171, 1: 94})
n1, n2 = 80 250 true Counter({2: 159, 1: 106}) calc Counter({2: 170, 1: 95})
n1, n2 = 100 10 true Counter({2: 159, 1: 106}) calc Counter({2: 150, 1: 115})
n1, n2 = 100 20 true Counter({2: 159, 1: 106}) calc Counter({2: 174, 1: 91})
n1, n2 = 100 50 true Counter({2: 159, 1: 106}) calc Counter({2: 147, 1: 118})
n1, n2 = 100 80 true Counter({2: 159, 1: 106}) calc Counter({2: 173, 1: 92})
n1, n2 = 100 100 true Counter({2: 159, 1: 106}) calc Counter({2: 166, 1: 99})
n1, n2 = 100 150 true Counter({2: 159, 1: 106}) calc Counter({2: 137, 1: 128})
n1, n2 = 100 200 true Counter({2: 159, 1: 106}) calc Counter({2: 172, 1: 93})
n1, n2 = 100 250 true Counter({2: 159, 1: 106}) calc Counter({2: 153, 1: 112})
n1, n2 = 150 10 true Counter({2: 159, 1: 106}) calc Counter({2: 135, 1: 130})
n1, n2 = 150 20 true Counter({2: 159, 1: 106}) calc Counter({2: 152, 1: 113})
n1, n2 = 150 50 true Counter({2: 159, 1: 106}) calc Counter({2: 139, 1: 126})
n1, n2 = 150 80 true Counter({2: 159, 1: 106}) calc Counter({1: 155, 2: 110})
n1, n2 = 150 100 true Counter({2: 159, 1: 106}) calc Counter({2: 148, 1: 117})
n1, n2 = 150 150 true Counter({2: 159, 1: 106}) calc Counter({2: 165, 1: 100})
n1, n2 = 150 200 true Counter({2: 159, 1: 106}) calc Counter({2: 198, 1: 67})
n1, n2 = 150 250 true Counter({2: 159, 1: 106}) calc Counter({2: 149, 1: 116})
n1, n2 = 200 10 true Counter({2: 159, 1: 106}) calc Counter({2: 144, 1: 121})
n1, n2 = 200 20 true Counter({2: 159, 1: 106}) calc Counter({1: 140, 2: 125})
n1, n2 = 200 50 true Counter({2: 159, 1: 106}) calc Counter({2: 142, 1: 123})
n1, n2 = 200 80 true Counter({2: 159, 1: 106}) calc Counter({2: 157, 1: 108})
n1, n2 = 200 100 true Counter({2: 159, 1: 106}) calc Counter({2: 163, 1: 102})
n1, n2 = 200 150 true Counter({2: 159, 1: 106}) calc Counter({2: 182, 1: 83})
n1, n2 = 200 200 true Counter({2: 159, 1: 106}) calc Counter({2: 172, 1: 93})
n1, n2 = 200 250 true Counter({2: 159, 1: 106}) calc Counter({2: 179, 1: 86})
n1, n2 = 250 10 true Counter({2: 159, 1: 106}) calc Counter({2: 167, 1: 98})
n1, n2 = 250 20 true Counter({2: 159, 1: 106}) calc Counter({2: 187, 1: 78})
n1, n2 = 250 50 true Counter({2: 159, 1: 106}) calc Counter({2: 157, 1: 108})
n1, n2 = 250 80 true Counter({2: 159, 1: 106}) calc Counter({2: 178, 1: 87})
n1, n2 = 250 100 true Counter({2: 159, 1: 106}) calc Counter({2: 152, 1: 113})
n1, n2 = 250 150 true Counter({2: 159, 1: 106}) calc Counter({1: 144, 2: 121})
n1, n2 = 250 200 true Counter({2: 159, 1: 106}) calc Counter({2: 141, 1: 124})
n1, n2 = 250 250 true Counter({2: 159, 1: 106}) calc Counter({2: 179, 1: 86})

In [27]:
Hidden_one = [10,20,50,80,100,110,120,130,140,150,180,200,250]
y = y_ann.copy()
X =np.array(df_all.copy())
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True, random_state=42)
#X =np.array(df.copy())/255.0 
for n1 in Hidden_one:
  model = MLPClassifier(hidden_layer_sizes=(n1), activation='tanh',
                        solver='adam',random_state=1, max_iter=300).fit(X_train,y_train)
  prediction = model.predict(X_test)
  
  y =np.copy(y_test)
  data = {'y_true': y_test,'y_predict': prediction}  # este dado esta no formato de dicionario

  df = pd.DataFrame(data, columns=['y_true','y_predict'])

  confusion_matrix = pd.crosstab(df['y_true'], df['y_predict'], rownames=['Actual'], colnames=['Predict'])
    # print(confusion_matrix)

  y_true = df['y_true']
  y_pred = df['y_predict']
  print('n1 =',n1,'true',Counter(y_true),'calc',Counter(y_pred))

n1 = 10 true Counter({2: 159, 1: 106}) calc Counter({2: 175, 1: 90})
n1 = 20 true Counter({2: 159, 1: 106}) calc Counter({2: 172, 1: 93})
n1 = 50 true Counter({2: 159, 1: 106}) calc Counter({2: 168, 1: 97})
n1 = 80 true Counter({2: 159, 1: 106}) calc Counter({2: 146, 1: 119})
n1 = 100 true Counter({2: 159, 1: 106}) calc Counter({2: 147, 1: 118})
n1 = 110 true Counter({2: 159, 1: 106}) calc Counter({2: 155, 1: 110})
n1 = 120 true Counter({2: 159, 1: 106}) calc Counter({2: 165, 1: 100})
n1 = 130 true Counter({2: 159, 1: 106}) calc Counter({2: 175, 1: 90})
n1 = 140 true Counter({2: 159, 1: 106}) calc Counter({2: 171, 1: 94})
n1 = 150 true Counter({2: 159, 1: 106}) calc Counter({2: 158, 1: 107})
n1 = 180 true Counter({2: 159, 1: 106}) calc Counter({2: 174, 1: 91})
n1 = 200 true Counter({2: 159, 1: 106}) calc Counter({2: 177, 1: 88})
n1 = 250 true Counter({2: 159, 1: 106}) calc Counter({1: 137, 2: 128})

In [ ]:
# Best results:
'''
n1, n2 = 10 50 true Counter({2: 159, 1: 106}) calc Counter({2: 157, 1: 108})
n1, n2 = 20 20 true Counter({2: 159, 1: 106}) calc Counter({2: 158, 1: 107})
n1, n2 = 50 10 true Counter({2: 159, 1: 106}) calc Counter({2: 158, 1: 107})
n1 = 150 true Counter({2: 159, 1: 106}) calc Counter({2: 158, 1: 107})
'''